<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmazzarolo.dev.topgithub" >
    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--系统下载权限-->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 主程序界面 -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--SD卡目录选择-->
        <activity
            android:name="com.loopeer.directorychooser.DirectoryFileChooserActivity" />
        
        <!-- 离线下载 -->
        <activity
            android:name=".activity.RepoCacheActivity"
            android:label="@string/title_activity_project_download" >
        </activity>
        <!-- 网页组件-->
        <activity
            android:name=".activity.SimpleWebActivity"
            android:label="@string/title_activity_simple_web" >
        </activity>
        <!--下载服务-->
        <service
            android:name=".service.DownloadRepoService"
            android:enabled="true"
            android:exported="true" >
        </service>
         <!--广播-->
        <receiver android:name=".broadcast.DownloadReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>
        
    </application>

</manifest>
